<div class="row">
  <div class="col-xs-12">
    <img src="{{scTemplate.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{scTemplate.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"><span>{{scTemplate.comment}}</span></div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      *ngFor="let exoItem of scTemplate.exoTemplateList; let i = index">
      <app-exo-template-item [index]="i" [exoTemplate]="exoItem" [desactivateRoute]="true"></app-exo-template-item>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">Manage Seance Template <span
          class="carret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click)="onEdit()" style="cursor: pointer" >Edit Seance Template </a></li>
          <li><a (click)="onDelete()">Delete Seance Template</a></li>
        </ul>
      </div>

  </div>
</div>
