<script src="exo-template-edit.component.ts"></script>
<div class="row">
  <div class="col-xs-12">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="form.invalid" type="submit" class="btn btn-success">Save ExoTemplate</button>
          <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name"
                   id="name"
                   class="form-control"
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image path</label>
            <input
              type="text"
              class="form-control"
              id="imagePath"
              formControlName="imagePath"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="comment">comment</label>
            <textarea
              id="comment"
              rows="6"
              class="form-control"
              formControlName="comment"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="type" formArrayName="types" *ngFor="let type of types; let i = index">
              <input type="checkbox" id="type" [formControlName]="i">
                {{types[i].name}}
            </label>

          </div>
        </div>
      </div>
      <div class="col-xs-12">

      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img [src]="imagePath.value">
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
