<div class="row">

  <div class="col-md-5">
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success"
                routerLink="./new"
        >New Seance Template
        </button>
        <button class="btn btn-primary"
                (click)="onSave()"
        >Save All
        </button>
      </div>
    </div>

    <app-seance-template-list></app-seance-template-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
    <ng-template #infoText>Please select a exo template</ng-template>
  </div>
</div>
